*.mpf
*.qpf
*.qsf
*.txt
db/
incremental_db/
output_files/
*.wlf
work/
*.mti
*.bak
*.qws
wlft86i1bq
wlft4948e0
wlftnmwec0
wlftxtmjzv
wlft2x7hdi
wlftfmnmv1
wlftj1x4kw
wlftv2fyjh
wlftvzijde
wlftznciw5
wlftf26v4a
wlftzf2jr1
wlft2zbzja